<section id="header">
    <div class="header-box">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="icons-control d-flex justify-content-between align-items-center">
                <i class="bi bi-clock"></i>
                <p>24/7 Always Open</p>
                <i class="bi bi-telephone"></i>
                <p>(+1) 888 687 4420</p>
                <i class="bi bi-envelope"></i>
                <p>info@dummywebsite.com</p>
            </div>
            <div class="d-flex align-items-center">
                <button type="button" class="signin-btn">Login or Signup</button>
                <button type="button" class="started-btn">Order Now</button>
            </div>
        </div>
    </div>
</section>