<section id="fast-section">
    <div class="container">
        <h2>Here is why students trust us <br> with their papers</h2>
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="box-control">
                    <div class="icon-back">
                        <img src="../../../../assets/images/premium.png" alt="" />
                    </div>
                    <h4>Premium Quality</h4>
                    <p>World-class native English-speaking writers with advanced degrees at elite U.S. schools. We have
                        expertise in all academic subjects. All writing is custom content and high quality.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="box-control-white">
                    <div class="icon-back-white">
                        <img src="../../../../assets/images/confidential.png" alt="" />
                    </div>
                    <h4>Private & Confidential</h4>
                    <p>We NEVER reveal your identity or personal information to any 3rd parties. We’re committed to
                        protecting your privacy.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="box-control-white">
                    <div class="icon-back-white">
                        <img src="../../../../assets/images/delivery.png" alt="" />
                    </div>
                    <h4>On Time Delivery</h4>
                    <p>We NEVER reveal your identity or personal information to any 3rd parties. We’re committed to
                        protecting your privacy.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="box-control-white">
                    <div class="icon-back-white">
                        <img src="../../../../assets/images/Tracking.png" alt="" />
                    </div>
                    <h4>Online Order Tracking</h4>
                    <p>We NEVER reveal your identity or personal information to any 3rd parties. We’re committed to
                        protecting your privacy.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="box-control-white">
                    <div class="icon-back-white">
                        <img src="../../../../assets/images/revision.png" alt="" />
                    </div>
                    <h4>Unlimited Revisions & Edits</h4>
                    <p>We NEVER reveal your identity or personal information to any 3rd parties. We’re committed to
                        protecting your privacy.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="box-control-white">
                    <div class="icon-back-white">
                        <img src="../../../../assets/images/support.png" alt="" />
                    </div>
                    <h4>Friendly Customer Support</h4>
                    <p>We NEVER reveal your identity or personal information to any 3rd parties. We’re committed to
                        protecting your privacy.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>