<section id="easy-writer">
    <div class="container">
        <h1>Essay writer - custom essay writing <br> services</h1>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-11">
                <div class="d-flex justify-content-start">
                    <div class="small-bar"></div>
                    <div class="bar-control" (click)="showData1()">
                        <p>How can an Essay Writing Service help you write a college essay?</p>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <div class="small-bar-white"></div>
                    <div class="bar-control-white" (click)="showData2()">
                        <p>What is a college essay?</p>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <div class="small-bar-white"></div>
                    <div class="bar-control-white" (click)="showData3()">
                        <p>How to write a college essay?</p>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <div class="small-bar-white"></div>
                    <div class="bar-control-white" (click)="showData4()">
                        <p>What should i write about in my college essay?</p>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <div class="small-bar-white"></div>
                    <div class="bar-control-white" (click)="showData5()">
                        <p>What you should not write in a college essay?</p>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <div class="small-bar-white"></div>
                    <div class="bar-control-white" (click)="showData6()">
                        <p>College essay tips to write a strong essay</p>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <div class="small-bar-white"></div>
                    <div class="bar-control-white">
                        <p>‘Write my college essay for me’ Help - 100% original and affordable</p>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <div class="small-bar-white"></div>
                    <div class="bar-control-white">
                        <p>College Essay tips</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
                <div class="vertical-line"></div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12" *ngIf="show ==='1'">
                <div class="main-data d-flex justify-content-start">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a euismod ipsum. Ut eu molestie
                        justo, sed tempor purus. Suspendisse nunc nisl, ultricies sit amet neque non, posuere volutpat
                        lacus. Etiam id maximus ligula. Ut nisl quam, iaculis quis lorem condimentum, sagittis
                        pellentesque quam. Vivamus ornare, turpis ut laoreet mattis, ipsum enim efficitur eros, sit amet
                        consectetur diam nulla ac mauris. Donec consequat ex at urna ullamcorper congue. Duis vitae
                        luctus nisl. Curabitur eget vestibulum eros, eu facilisis leo. Fusce molestie velit augue, in
                        laoreet eros dignissim non. Sed feugiat quam dolor, in tempor ante laoreet quis. Suspendisse
                        lobortis, nulla a faucibus mollis, tortor purus aliquam mauris, sit amet tempor mi tortor eu
                        justo. Aenean convallis nisi a ante posuere fringilla. Nam at nisi magna. In ut neque eu ante
                        scelerisque sodales in vel sapien. Curabitur elementum elit quam.
                    </p>
                    <div class="vertical-line-second"></div>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12" *ngIf="show ==='2'">
                <div class="main-data d-flex justify-content-start">
                    <p>Nam egestas turpis enim, sed semper libero ullamcorper condimentum. Sed sollicitudin congue orci.
                        Curabitur maximus vehicula lorem, sit amet tristique felis interdum eu. Aenean ullamcorper
                        ultricies egestas. In auctor varius sapien. Etiam in cursus augue. Duis faucibus nunc sed ipsum
                        laoreet, sed dignissim nunc ornare. Nunc feugiat diam nec lorem malesuada sollicitudin. Donec eu
                        vehicula urna, eu consequat mauris. Aliquam hendrerit tortor vel turpis euismod lobortis.
                        Integer eros velit, cursus et pellentesque eu, placerat nec est. Phasellus euismod augue eget
                        nulla tristique faucibus. Ut elementum vehicula pretium. Nunc euismod gravida euismod. Ut eget
                        lorem venenatis, commodo tellus convallis, blandit risus. Nullam ac tortor aliquet, venenatis
                        urna at, ultrices neque. Mauris efficitur lorem leo, ac condimentum eros imperdiet in. Maecenas
                        et est mauris. Quisque a diam eros.
                    </p>
                    <div class="vertical-line-second"></div>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12" *ngIf="show ==='3'">
                <div class="main-data d-flex justify-content-start">
                    <p>All academic and business writing simply has to have absolutely perfect grammar, punctuation,
                        spelling, formatting, and composition. Our experts proofread and edit your project with a
                        detailed eye and with complete knowledge of all writing and style conventions. Proofreading sets
                        any writing apart from “acceptable” and makes it exceptional. We can handle lab reports,
                        academic papers, case study, book reviews and argumentative essays. All academic and business
                        writing simply has to have absolutely perfect grammar, punctuation, spelling, formatting, and
                        composition. Our experts proofread and edit your project with a detailed eye and with complete
                        knowledge of all writing and style conventions. Proofreading sets any writing apart from
                        “acceptable” and makes it exceptional. We can handle lab reports, academic papers, case study,
                        book reviews and argumentative essays.

                    </p>
                    <div class="vertical-line-second"></div>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12" *ngIf="show ==='4'">
                <div class="main-data d-flex justify-content-start">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a euismod ipsum. Ut eu
                        molestie
                        justo, sed tempor purus. Suspendisse nunc nisl, ultricies sit amet neque non, posuere volutpat
                        lacus. Etiam id maximus ligula. Ut nisl quam, iaculis quis lorem condimentum, sagittis
                        pellentesque quam. Vivamus ornare, turpis ut laoreet mattis, ipsum enim efficitur eros, sit amet
                        consectetur diam nulla ac mauris. Donec consequat ex at urna ullamcorper congue. Duis vitae
                        luctus nisl. Curabitur eget vestibulum eros, eu facilisis leo. Fusce molestie velit augue, in
                        laoreet eros dignissim non. Sed feugiat quam dolor, in tempor ante laoreet quis. Suspendisse
                        lobortis, nulla a faucibus mollis, tortor purus aliquam mauris, sit amet tempor mi tortor eu
                        justo. Aenean convallis nisi a ante posuere fringilla. Nam at nisi magna. In ut neque eu ante
                        scelerisque sodales in vel sapien. Curabitur elementum elit quam.
                    </p>
                    <div class="vertical-line-second"></div>
                </div>
            </div>
        </div>
    </div>
</section>