<div class="background">
    <div class="container">
        <div class="d-flex justify-content-between">
            <div class="logo">
                <img src="../../../../assets/images/MyLogoHere.png" alt="Logo">
            </div>
            <div class="sub-heading d-flex justify-content-start">
                <p>Writers</p>
                <p>Samples</p>
                <p>Pricing</p>
                <p>FAQs</p>
                <p>Why Us</p>
                <p>Reviews</p>
                <p>Blogs</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-7">
                <div class="heading">
                    <h1>Essay Blues? We sing a different tune and write it for you.</h1>
                </div>
                <button type="button" class="started-btn">Order Now</button>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-start">
                        <div class="icon-back">
                            <img src="../../../../assets/images/Teacher.png">
                        </div>
                        <div class="text-control">
                            <h2>250+</h2>
                            <p>Academic Writing <br> Experts</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-start">
                        <div class="icon-back">
                            <img src="../../../../assets/images/Money.png">
                        </div>
                        <div class="text-control">
                            <h2>100%</h2>
                            <p>Money Back <br> Guarantee</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-start">
                        <div class="icon-back">
                            <img src="../../../../assets/images/Authentic.png">
                        </div>
                        <div class="text-control">
                            <h2>100%</h2>
                            <p>Plagiarism Free <br> Content</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-start">
                        <div class="icon-back">
                            <img src="../../../../assets/images/Star.png">
                        </div>
                        <div class="text-control">
                            <h2>50%</h2>
                            <p>Prepay Upfront - Half <br> After We Deliver</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>