<section id="details-section">
    <div class="container">
        <div class="details-text d-flex justify-content-between">
            <div class="details-box">
                <img src="../../../../assets/images/calender.png">
                <p>Deadline Driven</p>
            </div>
            <div class="details-box">
                <img src="../../../../assets/images/van.png">
                <p>100% Money back <br> gurantee</p>
            </div>
            <div class="details-box">
                <img src="../../../../assets/images/moneyback.png">
                <p>Prepay 50% Upfront - <br> Half after we deliver</p>
            </div>
            <div class="details-box">
                <img src="../../../../assets/images/search.png">
                <p>No Plagiarism Guranteed <br> (Reports Provided)</p>
            </div>
            <div class="details-box">
                <img src="../../../../assets/images/Confidential-de.png">
                <p>100% Private and <br> Confidential</p>
            </div>
        </div>
    </div>
</section>