<section id="asked-question">
    <div class="container">
        <h1>Frequently asked questions</h1>
        <div class="accordion accordion-flush mt-5" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header d-flex justify-content-start">
                    <div class="small-bar"></div>
                    <div class="question">
                        <h1>Q.</h1>
                    </div>
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        I need someone to write my essay for me, who can help me?
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Unfortunately, we don’t write essays for free. However, we do provide free samples of previous
                        essays we have written. Be very careful of someone who is promising you an essay for “free”. You
                        get what you pay for. Nothing is free and if it is free then you might end with a low-quality
                        essay.
                        We offer reasonably priced services so that students can get quality writing help within their
                        budget.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header d-flex justify-content-start">
                    <div class="small-bar"></div>
                    <div class="question">
                        <h1>Q.</h1>
                    </div>
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        What you should not write in a college essay?
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Unfortunately, we don’t write essays for free. However, we do provide free samples of previous
                        essays we have written. Be very careful of someone who is promising you an essay for “free”. You
                        get what you pay for. Nothing is free and if it is free then you might end with a low-quality
                        essay.
                        We offer reasonably priced services so that students can get quality writing help within their
                        budget.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header d-flex justify-content-start">
                    <div class="small-bar"></div>
                    <div class="question">
                        <h1>Q.</h1>
                    </div>
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        Can you write my essay for free?
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Unfortunately, we don’t write essays for free. However, we do provide free samples of previous
                        essays we have written. Be very careful of someone who is promising you an essay for “free”. You
                        get what you pay for. Nothing is free and if it is free then you might end with a low-quality
                        essay.
                        We offer reasonably priced services so that students can get quality writing help within their
                        budget.
                    </div>
                </div>
            </div>
        </div>
        <div class="view-question d-flex justify-content-center">
            <p>View All frequently asked Questions</p>
            <i class="bi bi-arrow-right"></i>
        </div>
    </div>
</section>