<section id="service">
    <div class="container">
        <div class="d-flex justify-content-between">
            <h1>Essay writing services <br> we offer</h1>
            <div class="d-flex justify-content-start">
                <div class="left-icon">
                    <i class="bi bi-chevron-left"></i>
                </div>
                <div class="right-icon">
                    <i class="bi bi-chevron-right"></i>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div class="box-control">
                <div class="icon-back">
                    <h1>1</h1>
                </div>
                <h4>Assignments</h4>
                <p>All academic and business writing simply has to have absolutely perfect grammar, punctuation,
                    spelling, formatting, and composition. Our experts proofread and edit your project with a detailed
                    eye and with complete knowledge of all writing and style conventions. Proofreading sets any writing
                    apart from “acceptable” and makes it exceptional. We can handle lab reports, academic papers, case
                    study, book reviews and argumentative essays.
                </p>
            </div>
            <div class="box-control-white">
                <div class="icon-back-white">
                    <h1>2</h1>
                </div>
                <h4>Essays</h4>
                <p>All academic and business writing simply has to have absolutely perfect grammar, punctuation,
                    spelling, formatting, and composition. Our experts proofread and edit your project with a detailed
                    eye and with complete knowledge of all writing and style conventions. Proofreading sets any writing
                    apart from “acceptable” and makes it exceptional. We can handle lab reports, academic papers, case
                    study, book reviews and argumentative essays.
                </p>
            </div>
            <div class="box-control-white">
                <div class="icon-back-white">
                    <h1>3</h1>
                </div>
                <h4>Dissertations</h4>
                <p>All academic and business writing simply has to have absolutely perfect grammar, punctuation,
                    spelling, formatting, and composition. Our experts proofread and edit your project with a detailed
                    eye and with complete knowledge of all writing and style conventions. Proofreading sets any writing
                    apart from “acceptable” and makes it exceptional. We can handle lab reports, academic papers, case
                    study, book reviews and argumentative essays.
                </p>
            </div>
        </div>
    </div>
</section>