<section id="customer">
    <div class="container">
        <h1>What our customers say</h1>
        <div class="d-flex justify-content-between">
            <div class="left-icon">
                <i class="bi bi-chevron-left"></i>
            </div>
            <div class="box-control">
                <p>“ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a euismod ipsum. Ut eu
                    molestie justo,
                    sed tempor purus. Suspendisse nunc nisl, ultricies sit amet neque non, posuere volutpat lacus.
                    Etiam id
                    maximus ligula. ”
                </p>
                <div class="d-flex justify-content-between">
                    <div class="user-name d-flex justify-content-start">
                        <img src="../../../../assets/images/user.png">
                        <p>J. Simpson</p>
                    </div>
                    <div class="d-flex justify-content-start">
                        <p class="ratio">4/5</p>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </div>
                </div>
            </div>
            <div class="box-control">
                <p>“ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a euismod ipsum. Ut eu
                    molestie justo,
                    sed tempor purus. Suspendisse nunc nisl, ultricies sit amet neque non, posuere volutpat lacus.
                    Etiam id
                    maximus ligula. ”
                </p>
                <div class="d-flex justify-content-between">
                    <div class="user-name d-flex justify-content-start">
                        <img src="../../../../assets/images/user.png">
                        <p>J. Simpson</p>
                    </div>
                    <div class="d-flex justify-content-start">
                        <p class="ratio">4/5</p>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </div>
                </div>
            </div>
            <div class="right-icon">
                <i class="bi bi-chevron-right"></i>
            </div>
        </div>
    </div>
</section>